{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{category.category_name}}</h2>
    <ul>
        {%if item%}
            {% for item in item %}
                <a href='{%url "listing" item.id %}'>
                    <div class="text_box">
                        <div style="float:left">
                            <img src='{{item.Img.url}}' width="284" alt="284">
                        </div>
                        <div style="float:left; padding-left: 20px;" >
                            <h4>{{item.Listing_Name}} </h4>
                            Actual Price: ${{item.Price}} <br>
                            Number of Bids: {{item.nBids}} <br>
                            Date Created: {{item.Date}}
                        </div>
                        <div style="clear:both"/>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <h5>No items Created</h5> 
        {%endif%}
    </ul>
{% endblock %}